body {
    font-family: Arial, Helvetica, sans-serif;
    background: lightskyblue;
}

h1,h2 {
    color: red;
    font-style: italic;
}

#rep {
    color: wheat;
}

.tol {
    color: red;
    font-weight: bold;
}

.link {
    text-decoration: none;
    color: blueviolet;
    font-weight: bold;
}

ul li a{
    color: blue;
    font-weight: bold;
}

ol li a{
    color: chocolate;
    font-weight: bold;
}
